#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(173, 216, 230);
    
}
#character{
    width: 20px;
    background-color: red;
    position: relative;
    left: 200px;	
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}	
    70%{top: 100px;}
    100%{top: 150px;}
} 
.jumpAnimate{
    animation: jump 300ms linear;
}

#lowBlock{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    left: 480px;
}

@keyframes blockAnimate{
    0%{left: 500px} 
    100%{left: -20px}
}
#btn {
  font-family: verdana;
  font-size: 20px; 
  border: 10px solid white;
  padding: 10px;
  display: inline-block;
  margin: 10px 0px;
  background-color: rgb(0, 255, 0);
}